@import "tailwindcss";

@theme {
  --font-cinzel: "Cinzel", serif;
  --font-raleway: "Raleway", sans-serif;
  --animate-marquee: marquee 28s linear infinite;

  @keyframes marquee {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-33.333%);
    }
  }
}